i {
  cursor: pointer;
}

.card-title {
  margin-top: 20px;
}

.card-subtitle {  
  font-size: 14px;
}

.card-desc {
  font-size: 15px;
  margin: 15px 0 18px 0;
}

.card-date {
  font-size: 11px;
  margin: 0;
}

.card-update-btns {
  font-size: 14px;
  position: absolute;
  top: 9px;
  right: 7px;
}

.card-update-btns i {
  margin: 0 2px 0 2px;
}

